[package]
name = "courtjester"
version = "0.1.0"
authors = ["kingbri <bdashore3@gmail.com>"]
edition = "2018"

[dependencies]
tokio  = { version = "0.2", features = ["macros", "time"] }
log = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
pretty_env_logger = "0.4.0"
rand = "0.7.3"
rust-clock = "0.1.0"
base64 = "0.13.0"
uuid = { version = "0.8", features = ["v4"] }
dashmap = "4.0.0-rc6"
futures = "0.3"
reqwest = { version = "0.10", features = ["json"] }
regex = "1.3.9"

[dependencies.serenity]
git = "https://github.com/serenity-rs/serenity"
branch = "current"
default-features = true
features = ["collector", "rustls_backend"]

[dependencies.lavalink-rs]
git = "https://gitlab.com/nitsuga5124/lavalink-rs.git"
branch = "master"

[dependencies.sqlx]
version = "0.4.0-beta.1"
default-features = false
features = ["runtime-tokio", "macros", "postgres", "uuid", "offline"]

[patch.crates-io.serenity]
git = "https://github.com/serenity-rs/serenity"
branch = "current"
default-features = true
features = ["collector", "rustls_backend"]
